/* Estilos para la tabla */
.table-view {
    -fx-background-color: #f2f2f2; /* Color de fondo */
    -fx-border-radius: 10px; /* Radio de borde */
    -fx-background-radius: 10px; /* Radio de fondo */
    -fx-padding: 10px; /* Espaciado interno */
}

/* Estilos para las celdas */
.table-cell {
    -fx-background-color: #f2f2f2; /* Color de fondo */
    -fx-alignment: center; /* Alineación del contenido */
    -fx-font-size: 18px; /* Tamaño de fuente */
    -fx-text-fill: #333; /* Color de texto */
}

.table-view .column-header-background {
    -fx-background-color: #f0f0f0; /* Cambia este color al que desees para las cabeceras */
}
/* Estilo para las filas impares */
.table-row-cell:odd {
    -fx-background-color: #e0e0e0; /* Color de fondo para filas impares */
}

/* Estilo para las filas pares */
.table-row-cell:even {
    -fx-background-color: #d3d3d3; /* Color de fondo para filas pares */
}

/* Estilo para los encabezados de la tabla */
.table-header {
    -fx-background-color: black; /* Cambiar el color de fondo de los encabezados a negro */
}